.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems .dialog {
    padding: 5px;
}

.dialogsItems .active {
    color: #810d68;
}

.messages {

}

.messages .message {
    padding: 5px;

}

